.today {
    background-color: #4361ee;
    border-radius: 10px;
    color: #fff;
    margin-top: 20px;
    width: 60%;
}
.parentDiv{
    display: flex;
    align-items: center;
    justify-content:center;
}
.today h1{
    margin-bottom: 0;
    font-size: 2rem;
    margin-left: 10px;
}
.__inner{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 30px 30px;
}

.today span{
    font-size: 1.25rem;
    opacity: 0.7;
}